body {
    background: #f5f5f5;
}

a, button, input, label, select {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

*, :after, :before {
    box-sizing: border-box;
    outline: none;
}

.content {
    padding-bottom: 48px;
}

/* 轮播图 */
.slide {
    width: 100%;
    height: 3.6rem;
    overflow: hidden;
    position: relative;
}

.slide .bd li {
    height: 3.6rem;
}

.slide .bd li img {
    width: 100%;
    height: 100%;
}

.slide .hd {
    width: 100%;
    height: 5px;
    position: absolute;
    bottom: .2rem;
}

.slide .hd ul {
    display: flex;
    justify-content: flex-end;
    padding: 0 .3rem;
}

.slide .hd ul li {
    display: inline-block;
    width: 5px;
    height: 5px;
    text-indent: -99999px;
    background-color: #fff; 
    margin-left: .15rem;
}

.slide .hd ul li.on {
    background-color: #eb2525;
}

/* 实况 */
.live {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: .8rem;
    padding: 0 .3rem;
    margin-bottom: .2rem;
    border-bottom: 1px solid #e1e1e1;
    background-color: #fff;
}

.live .live-title {
    font-size: 14px;
    color: #333;
    font-weight: bold;
}

.live .live-info {
    width: 75%;
    height: 100%;
    line-height: .8rem;
    padding-right: .15rem;
    font-size: 14px;
    color: #666;
    overflow: hidden;
}

.live .live-info ul {
    width: 100%;
}

.live .live-info ul a {
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.live .live-more {
    display: block;
    height: 100%;
    line-height: .8rem;
    font-size: 14px;
    color: #666;
    position: relative;
}

.live .live-more:before {
    content: "";
    width: 1px;
    height: .24rem;
    position: absolute;
    left: -.14rem;
    bottom: 50%;
    margin-bottom: -.12rem;
    z-index: 4;
    background-color: #ccc;
}

/* tab栏 */
.segmented-control {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: .8rem;
    font-size: 15px;
    background-color: #fff;
    border-bottom: 1px solid #e1e1e1;
}

.segmented-control a {
    display: block;
    height: 100%;
    line-height: .8rem;
}

.segmented-control .active {
    color: #eb2525;
    position: relative;
}

.segmented-control .active:before {
    content: "";
    width: 70%;
    height: 2px;
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-left: -35%;
    z-index: 4;
    background-color: currentColor;
}

.isFlxed {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
}

.isFlxed~.tab-info {
  padding-top: .8rem;
}

/* 网格-模块 */
.grids {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 1.79rem;
    border-bottom: 1px solid #e1e1e1;
    padding: 0 .3rem;
    margin-bottom: .2rem;
    background-color: #fff;
}

.grids a .icon {
    display: block;
    width: 1rem;
    height: 1rem;
    border-radius: 20px;
    background-color: #eee;
}

.grids a span {
    font-size: 13px;
    color: #666;
}

/* 列表 */
.listview {
    display: none;
}

.listview.active {
    display: block;
}

.list-item {
    display: block;
    padding: 0 .3rem;
    background-color: #fff;
    border-bottom: 1px solid #e1e1e1;
}

.list-item .list-title {
    width: 100%;
    height: .84rem;
    line-height: .84rem;
    font-size: 16px;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.list-item .list-title .top {
    width: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 18px;
    border: 1px solid #3ebeee;
    border-radius: 2px;
    font-size: 12px;
    color: #3ebeee;
    vertical-align: middle;
}

.list-item .list-title .title {
    vertical-align: middle;
}

.list-item .list-info {
    color: #666;
    line-height: 20px;
    font-size: 14px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.list-item .info-img {
    margin-bottom: .2rem;
}

.list-item .list-img {
    width: 100%;
    height: 1.49rem;
    display: flex;
    justify-content: space-between;
}

.list-item .list-img img {
    width: 2.2rem;
}

.list-item .list-bottom {
    width: 100%;
    height: .90rem;
    display: flex;
    justify-content: space-between;
}

.list-item .bottom-right {
    display: flex;
    align-items: center;
    color: #999;
    font-size: 12px;
}

.list-item .bottom-right .leave {
    display: flex;
    align-items: center;
    padding-right: .3rem;
}

.list-item .bottom-right .browse {
    display: flex;
    align-items: center;
}

.list-item .bottom-right .icon {
    font-size: 14px;
}

.list-item .bottom-right span {
    padding-left: .1rem;
}

.list-item .bottom-left {
    display: flex;
    align-items: center;
}

.list-item .bottom-left img {
    width: .4rem;
    height: .4rem;
    border-radius: .2rem;
    margin-right: .12rem;
}

.list-item .bottom-left .name {
    font-size: 12px;
    color: #999;
}

.one-img {
    display: flex;
    justify-content: space-between;
}

.one-img .list-left .title {
    margin: .3rem 0;
    font-size: 16px;
    color: #333;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.one-img .list-left .bottom-left {
    padding-bottom: .3rem;
}

.one-img .list-right {
    display: flex;
    align-items: center;
}

.one-img .list-right img {
    max-width: 2.2rem;
    height: 1.5rem;
    margin-left: .1rem;
}

/* 二手车列表 */
.listcar-item {
    width: 100%;
    height: 2.4rem;
    padding: 0 .3rem;
    background-color: #fff;
    border-bottom: 1px solid #e1e1e1;
}

.listview .listcar-top {
    display: flex;
    width: 100%;
    padding-top: .2rem;
}

.listview .listcar-top .listcar-img {
    width: 2.48rem;
    height: 1.57rem;
}

.listview .listcar-top .listcar-img img {
    width: 100%;
    height: 100%;
}

.listview .listcar-top .listcar-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 66%;
    padding-left: .3rem;
}

.listcar-top .listcar-info .title {
    width: 100%;
    font-size: 14px;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.listcar-top .listcar-info .info {
    line-height: .64rem;
    font-size: 12px;
    color: #999;
}

.listcar-top .listcar-info .price {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.listcar-top .listcar-info .tag {
    display: flex;
}

.listcar-top .listcar-info .tag span {
    display: block;
    height: 16px;
    font-size: 10px;
    color: #ff7e00;
    padding: 0 4px;
    margin-left: 5px;
    border-radius: 2px;
    border: 1px solid #ff7e00;
}

.listcar-top .listcar-info .price-info {
    line-height: 11px;
    font-size: 17px;
    color: #ff3a3b;
}

.listcar-top .listcar-info .price-info i {
    color: #999;
    font-size: 12px;
    text-decoration: line-through;
}


.listview .listcar-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: .64rem;
}

.listview .listcar-bottom .name {
    display: flex;
}

.listview .listcar-bottom span {
    font-size: 12px;
    color: #666;
}

.listview .listcar-bottom .recom_info_rzch {
    display: block;
    height: 16px;
    padding: 0 5px;
    margin-right: .2rem;
    border-radius: 2px;
    background-color: #ff3a3b;
    color: #fff;
}

.listview .listcar-bottom .recom_info_sm {
    display: block;
    height: 16px;
    padding: 0 5px;
    margin-right: .2rem;
    border-radius: 2px;
    border: 1px solid #ff3a3b;
    color: #ff3a3b;
}

.listview .listcar-bottom .time {
    font-size: 12px;
    color: #666;
}

/* footer */
.tabbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: #fff;
    font-size: 12px;
    position: fixed;
    bottom: 0;
    box-shadow: 0 -1px 5px #e1e1e1;
    
}
.tabbar .tabbar-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 100%;
    padding: 5px 0;
}

.tabbar .tabbar-item .def,
.tabbar .tabbar-item .select {
    width: 22px;
    height: 22px;
}

.tabbar .tabbar-item .release {
    width: 38px;
    height: 38px;
}

.tabbar .tabbar-item .tabbar-link {
    color: #333;
}

.tabbar .tabbar-item .select {
    display: none;
}

.tabbar-item.router-link-active .tabbar-link {
    color: #eb2525;
}

.tabbar-item.router-link-active .def {
    display: none;
}

.tabbar-item.router-link-active .select {
    display: block;
}
