a, button, input, label, select {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

*, :after, :before {
    box-sizing: border-box;
    outline: none;
}

body {
    background: #f5f5f5;
}

.details {
	background-color: #fff;
	padding: .3rem;
	margin-bottom: .2rem;
}

.details .details-title {
	width: 100%;
	line-height: 30px;
	font-size: 20px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}

.details .details-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: .8rem;
	border-bottom: 1px solid #e1e1e1;
}

.details .details-info .info-item {
	display: flex;
	font-size: 13px;
	color: #767676;
}

.details .details-info .browse i {
	font-size: 20px;
	color: #b5b5b5;
}

.details .details-info .comment {
	padding-left: .2rem;
}

.details .details-info .comment i {
	font-size: 20px;
	color: #b5b5b5;
}

.details .details-info .circle-name {
	width: 1.08rem;
	height: 22px;
	line-height: 20px;
	text-align: center;
	border: 1px solid #eb2525;
	border-radius: 10px;
	font-size: 12px;
	color: #eb2525;
}

.details .details-text {
	line-height: 30px;
	font-size: 16px;
	color: #333;
}

.details .details-text .details-name {
	display: flex;
	align-items: center;
	width: 100%;
	height: 1.3rem;
}

.details .details-text .details-name img {
	width: .7rem;
	height: .7rem;
	border-radius: .35rem;
	margin-bottom: 0;
}

.details .details-text .details-name .info {
	line-height: 1.2;
	padding-left: .2rem;
}

.details .details-text .details-name .info .name {
	font-size: 14px;
	color: #333;
}

.details .details-text .details-name .info .time {
	font-size: 12px;
	color: #767676;
}

.details .details-text p {
	padding-bottom: .3rem;
}


.details .details-text p:last-child {
	padding-bottom: 0;
}

.details .details-text img {
	width: 100%;
	margin-bottom: .3rem;
}

.details-comment {
	background: #fff;
	padding: .2rem .3rem .95rem;
}

.details-comment .comment-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.details-comment .comment-title .title {
	font-size: 18px;
	color: #333;
	font-weight: bold;
}

.details-comment .comment-title .sort {
	font-size: 12px;
	color: #666;
	font-weight: bold;
}

.details-comment .comment-title .sort i {
	font-size: 14px;
	color: #999;
}

.details-comment .list-item {
	display: flex;
	padding-top: .4rem;
}

.details-comment .list-item img {
	width: .8rem;
	max-width: initial;
	height: .8rem;
	border-radius: .4rem;
}

.details-comment .list-item .comment-info {
	line-height: 28px;
	padding-left: .2rem;
	border-bottom: 1px solid #e1e1e1;
}

.details-comment .list-item .comment-name {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 30px;
}

.list-item .comment-name .name a {
	color: #4aa8eb;
	font-size: 14px;
	vertical-align: bottom;
}

.list-item .comment-name .name span {
	height: 12px;
	padding: 0 5px;
	margin-left: .05rem;
	border: 1px solid #eb2525;
	border-radius: 2px;
	font-size: 11px;
	color: #eb2525;
}

.list-item .comment-name .floor {
	font-size: 12px;
	color: #999;
}

.details-comment .list-item .comment-text {
	color: #333;
	font-size: 16px;
}

.details-comment .list-item .comment-bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: .8rem;
	font-size: 12px;
	color: #999;
}

.list-item .comment-reply {
	padding: .2rem .3rem;
	margin-top: .2rem;
	font-size: 14px;
	background-color: #f5f5f5;
	position: relative;
}

.list-item .comment-reply:before {
	content: "";
    width: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #f5f5f5;
    position: absolute;
    left: .3rem;
    top: -9px;
}

.list-item .comment-reply .reply-item {
	padding-bottom: .2rem;
	line-height: 1.5;
	color: #333;
}

.list-item .comment-reply .reply-item img {
	width: 100%;
	height: auto;
	padding-top: .2rem;
	border-radius: 0;
}

.list-item .comment-reply .reply-item:last-child {
	padding-bottom: 0;
}

.list-item .comment-reply a {
	color: #4aa8eb;
}

.list-item .comment-btn {
	display: flex;
	color: #999;
}

.list-item .comment-btn .zan {
	padding-right: .3rem;
}

.list-item .comment-btn .icon {
	color: #b5b5b5;
}

.list-item .comment-btn .reply .icon {
	font-size: 18px;
}

.details-footer {
	width: 100%;
	height: 1rem;
	box-shadow: 0 -1px 5px #e1e1e1;
	background-color: #fff;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 999;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.details-footer a {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 25%;
	color: #666;
}

.details-footer a .reply i {
	font-size: 22px;
}

.details-footer a i {
	color: #999;
	font-size: 20px;
}